
:root{
    --primary-color: "#E5E7EB";
}

body{
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 1rem;

}

.heading{
    display: block;
    height: 100px;
    width: 330px;
    border: 1px solid black;
    padding: 1rem;
}

.content{
    display: block;
    height: 200px;
    width: 330px;
    padding: 1rem;
    margin: 1rem;
}


label{
    display: block;
    margin: 1rem;
}

.footer{
  text-align: center;
  padding: 2rem 1rem;
  margin-top: 2rem;
  background-color: ghostwhite  ;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
}


.list-non-bullet{
    list-style-type: none;
    display: flex;
}

.list-inline{
    padding: 0rem 1rem;
    margin: auto;
}

.link{
    text-decoration: none;
}